# Django Settings
ENV=local
SECRET_KEY=XXX
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

DISABLE_MIGRATIONS=1

# Database
DB_NAME=eygarauth
DB_USER=myuser
DB_PASSWORD=mypassword
DB_HOST=localhost/host.docker.internal
DB_PORT=5432

# Email Configuration
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST=
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=your-email@gmail.com
EMAIL_HOST_PASSWORD=your-app-password
DEFAULT_FROM_EMAIL=vraxa.server@gmail.com


# Frontend Configuration
SITE_URL=XXX

# AWS S3 (if using)
AWS_ACCESS_KEY_ID=XXX
AWS_SECRET_ACCESS_KEY=XXX
AWS_REGION_NAME=me-central-1
SNS_TOPIC_ARN=XXX
AWS_S3_BUCKET_NAME=XXX
AWS_S3_FILE_OVERWRITE=True

SQS_QUEUE_URL=XXX
AWS_SQS_EMAIL_QUEUE_URL=XXX
LAMBDA_FUNCTION_NAME=XXX


STRIPE_SECRET_KEY=XXX
